<script setup lang="ts">
import authService from '@/services/AuthService'
import LabelInput from '@/components/LabelInput.vue'
import AppButton from '@/components/AppButton.vue'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const username = ref('')
const password = ref('')

const router = useRouter()

const register = async () => {
  if (await authService.register(username.value, password.value)) {
    alert('Registered!')
    router.push('/login')
  }
}
</script>

<template>
  <main class="p-8 rounded-2xl dark:bg-slate-600 bg-slate-200 w-[450px] mx-auto">
    <h2 class="text-2xl text-center">Register</h2>
    <form @submit.prevent="register">
      <LabelInput label="Username" v-model="username" class="mt-6" />
      <LabelInput label="Password" type="password" v-model="password" class="mt-6" />

      <AppButton label="Register" class="mt-6" />
    </form>
  </main>
</template>
