<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import dataService from '@/services/DataService'
import AppButton from '@/components/AppButton.vue'
import type ToDo from '@/interfaces/ToDo'
import ToDoForm from '@/components/ToDoForm.vue'
import LabelInput from '@/components/LabelInput.vue'

const toDos = ref([] as ToDo[])
const openedToDoIndex = ref(null as number | null)
const openedToDo = ref(null as ToDo | null)

onMounted(async () => {
  toDos.value = await dataService.get<ToDo[]>(import.meta.env.VITE_API_URL + '/to-dos')
})

const newToDo = () => {
  openedToDoIndex.value = null
  openedToDo.value = {
    title: '',
    category: '',
    status: '',
    description: ''
  }
}

const openToDo = (i: number, toDo: ToDo) => {
  openedToDoIndex.value = i
  openedToDo.value = { ...toDo }
}

const updateTodoList = (toDo: ToDo) => {
  if (openedToDoIndex.value !== null) {
    toDos.value[openedToDoIndex.value] = toDo
  } else {
    toDos.value.push(toDo)
  }
  openedToDo.value = null
}

const deleteToDo = async (toDo: ToDo) => {
  if (!confirm('Are you sure you want to delete this to-do?')) {
    return
  }
  try {
    await dataService.delete(import.meta.env.VITE_API_URL + '/to-dos/' + toDo.id)
    toDos.value = toDos.value.filter((t) => t.id !== toDo.id)
  } catch (e) {
    console.error(e)
  }
}

const filters = ref({
  title: '',
  category: '',
  status: ''
})

const statuses = [
  { value: '', label: 'None' },
  { value: 'open', label: 'Open' },
  { value: 'in-progress', label: 'In Progress' },
  { value: 'done', label: 'Done' }
]

const categories = computed(() => {
  const uniqueCategories = new Set<string>()
  toDos.value.forEach((toDo) => {
    uniqueCategories.add(toDo.category)
  })
  return [{ value: '', label: 'None' }].concat(
    Array.from(uniqueCategories).map((category) => {
      return { value: category, label: category }
    })
  )
})

const filteredTodos = computed(() => {
  return toDos.value
    .map((toDo, i) => ({ toDo, index: i }))
    .filter((toDo) => {
      if (
        filters.value.title &&
        !toDo.toDo.title.toLowerCase().includes(filters.value.title.toLowerCase())
      ) {
        return false
      }
      if (filters.value.category && toDo.toDo.category !== filters.value.category) {
        return false
      }
      if (filters.value.status && toDo.toDo.status !== filters.value.status) {
        return false
      }
      return true
    })
})
</script>

<template>
  <main class="p-8 rounded-2xl dark:bg-slate-600 bg-slate-200">
    <h2 class="text-2xl text-center">Filters</h2>

    <div class="flex gap-2 items-center justify-between">
      <LabelInput label="Title" v-model="filters.title" />
      <LabelInput type="select" :options="categories" label="Category" v-model="filters.category" />
      <LabelInput type="select" :options="statuses" label="Status" v-model="filters.status" />
    </div>
    <div class="mt-6">
      <h2 class="text-2xl text-center">To Dos</h2>
      <div class="flex justify-center">
        <AppButton label="new" @click="newToDo" color="bg-green-500" />
      </div>
      <div class="grid grid-cols-5 gap-2">
        <h3 class="font-bold">Title</h3>
        <h3 class="font-bold">Category</h3>
        <h3 class="font-bold">Status</h3>
        <h3 class="font-bold">Description</h3>
        <h3 class="font-bold">Actions</h3>
      </div>
      <div v-for="toDo in filteredTodos" :key="toDo.index" class="grid grid-cols-5 gap-2 mt-2">
        <h3>{{ toDo.toDo.title }}</h3>
        <p>{{ toDo.toDo.category }}</p>
        <p>{{ toDo.toDo.status }}</p>
        <p>{{ toDo.toDo.description }}</p>

        <div class="flex gap-1">
          <AppButton label="Edit" @click="openToDo(toDo.index, toDo.toDo)" class="block" />
          <AppButton
            label="Delete"
            @click="deleteToDo(toDo.toDo)"
            class="block"
            color="bg-red-500"
          />
        </div>
      </div>
    </div>

    <ToDoForm v-model="openedToDo" @update="updateTodoList" />
  </main>
</template>
