<script setup lang="ts">
const props = defineProps({
  label: {
    type: String,
    required: true
  },
  color: {
    type: String,
    default: 'bg-blue-500'
  }
})
</script>
<template>
  <button :class="props.color" class="text-white px-4 py-2 rounded-lg">{{ props.label }}</button>
</template>
