<script setup lang="ts">
import { type PropType } from 'vue'

const model = defineModel({
  type: String,
  required: true
})

const props = defineProps({
  label: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  },
  options: {
    type: Array as PropType<
      Array<{
        value: string
        label: string
      }>
    >
  }
})
</script>

<template>
  <label class="flex justify-between">
    <span class="pr-5">{{ props.label }}:</span>
    <textarea
      v-if="props.type === 'textarea'"
      v-model="model"
      class="px-4 py-2 border rounded-lg text-black dark:bg-slate-200 bg-slate-400"
    />
    <select
      v-else-if="props.type === 'select'"
      v-model="model"
      class="px-4 py-2 border rounded-lg text-black dark:bg-slate-200 bg-slate-400"
    >
      <option v-for="option in props.options" :key="option.value" :value="option.value">
        {{ option.label }}
      </option>
    </select>
    <input
      v-else
      :type="props.type"
      v-model="model"
      class="px-4 py-2 border rounded-lg text-black dark:bg-slate-200 bg-slate-400"
    />
  </label>
</template>
