<script setup lang="ts">
import dataService from '@/services/DataService'
import LabelInput from './LabelInput.vue'
import type ToDo from '@/interfaces/ToDo'
import { type PropType } from 'vue'
import AppButton from './AppButton.vue'

const toDo = defineModel({
  type: Object as PropType<ToDo | null>
})

const emit = defineEmits<{
  (e: 'update', toDo: ToDo): void
}>()

const statuses = [
  { value: 'open', label: 'Open' },
  { value: 'in-progress', label: 'In Progress' },
  { value: 'done', label: 'Done' }
]

const save = async () => {
  if (!toDo.value) {
    return
  }

  let updated
  try {
    if (toDo.value.id) {
      updated = await dataService.put<ToDo>(
        import.meta.env.VITE_API_URL + '/to-dos/' + toDo.value.id,
        toDo.value
      )
    } else {
      updated = await dataService.post<ToDo>(import.meta.env.VITE_API_URL + '/to-dos', toDo.value)
    }
    emit('update', updated)
  } catch (e) {
    console.error(e)
  }
}
</script>

<template>
  <div
    v-if="toDo"
    class="fixed w-full h-full top-0 left-0 flex items-center justify-center backdrop-blur"
  >
    <h3>To Do</h3>
    <form class="bg-slate-500 p-8 rounded-2xl relative" @submit.prevent="save">
      <button
        class="absolute top-2 right-2 bg-red-500 text-white px-4 py-2 rounded-lg"
        @click="toDo = null"
      >
        x
      </button>
      <LabelInput label="Title" v-model="toDo.title" class="mt-6" />
      <LabelInput label="Category" v-model="toDo.category" class="mt-6" />
      <LabelInput
        type="select"
        :options="statuses"
        label="Status"
        v-model="toDo.status"
        class="mt-6"
      />
      <LabelInput type="textarea" label="Description" v-model="toDo.description" class="mt-6" />

      <AppButton label="Save" class="mt-6" />
    </form>
  </div>
</template>
