<script setup lang="ts">
import authService from '@/services/AuthService'
import { computed } from 'vue'
import { RouterLink, RouterView, useRoute, useRouter } from 'vue-router'

const route = useRoute()
const showHome = computed(() => authService.isLoggedIn() && 'home' !== route.name)
const showLogin = computed(() => !authService.isLoggedIn() && 'login' !== route.name)
const showLogout = computed(() => authService.isLoggedIn())
const showRegister = computed(() => !authService.isLoggedIn() && 'register' !== route.name)

const logout = () => {
  authService.logout()
  window.location.reload()
}
</script>

<template>
  <header class="flex items-center justify-between py-10">
    <h1 class="text-3xl">To Do List</h1>

    <nav class="flex justify-end gap-2">
      <RouterLink to="/" v-show="showHome">Home</RouterLink>
      <RouterLink to="/register" v-show="showRegister">Register</RouterLink>
      <RouterLink to="/login" v-show="showLogin">Login</RouterLink>
      <a href="#" @click="logout()" v-show="showLogout">Logout</a>
    </nav>
  </header>

  <RouterView />
</template>
